.investaholic-section {
    width: 100%;
    top: 0;
    left: 0;
    color: $text-color;
    .section {
        margin-top: 150px;
        text-align: center;
        justify-content: center;
        align-items: center;
        .section-image {
           text-align: center;
        }
    }
    .userflow {
        background-color: #F2ECE6;
        width: 100%;
    }
    .footer {
        background-color: #344955;
        width: 100%;
    }
}



@media only screen and (max-width: 768px) {

    .investaholic-section {
        width: 100%;
        top: 0;
        left: 0;
        color: $text-color;
        .section {
            margin-top: 50px;
            text-align: center;
            justify-content: center;
            align-items: center;
            .section-image {
                text-align: center;
                width: 95%;
             }
        }
        .top {
            margin-top: 150px;
        }
        .userflow {
            background-color: #F2ECE6;
            width: 100%;
        }
        .footer {
            background-color: #344955;
            width: 100%;
        }
    }
}